<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg" *ngIf="userLoggedIn()">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    
    <div class="main-panel" [style]="userLoggedIn() ? '': 'width: 100%;'">
        <div class="mobile-only" *ngIf="userLoggedIn()">
            <app-navbar></app-navbar>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="fixed-plugin">
        
    </div>
</div>