.filler{
  flex:1;
}
.text-strong{
    font-weight: bold;
}
.icona-verde{
  color: #1e9c1e;
}
.icona-rossa{
  color: #ad1010;
}
@media (max-width: 900px) {
  .desktop-only{
    display: none;
  }
  td, th{
    font-size: smaller;
  }
}
@media (min-width: 901px) {
  .mobile-only{
    display: none;
  }
}