<div class="logo">
    <a href="dashboard" class="simple-text">
        <div class="logo-img immagine-sidebar">
            <img src="/assets/img/automobile.png"/>
        </div>
        <span class="titolo-sidebar">Noleggio Automezzi</span>
    </a>
</div>
<div class="sidebar-wrapper">

  <div *ngIf="isMobileMenu()">

    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">{{notifiche.length}}</span>
                <p>
                    <span class="d-lg-none d-md-block">Notifiche</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right menu-notifiche" aria-labelledby="navbarDropdownMenuLink">
                <div class="item-notifica"></div>
                <div class="item-notifica" *ngFor="let notifica of notifiche">{{notifica}}</div>
            </div>
        </li>
    </ul>
  </div>

    <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" (click)="logOut()">
                <i class="material-icons">logout</i>
                <p>Logout</p>
            </a>
        </li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="canBeViewed(menuItem)">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
